all-in-one-infer @ git+https://github.com/openmirlab/all-in-one-infer.git@3c93b4ae389328544dd5955af7497030cb1bca3a
# Upstream lineage (MIT):
# https://github.com/mir-aidj/all-in-one/tree/18e78903c0365147a2c5d4e5e57ebf88cb7d800e
soundfile==0.13.1